@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf ') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #40DB5B;
    --cor1: #40DBC5;
    --cor2: #3FDB90;
    --cor3: #5FDB40;
    --cor4: #40BFDB;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:antiquewhite ;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor0),green);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px black;
}

header > p{
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px black;
    padding-bottom: 15px;
}

nav{
    position: relative;
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
    text-align: center;
}

nav > a{
    font-weight: bold;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: #3FDB90;
    color: black
}

main{
    margin: auto;
    background-color: white;

    min-width: 300px;
    max-width: 800px;

    padding: 20px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

main h1{
    color: cadetblue;
    font-family: var(--fonte-android);
}

main h2{
    color: lime;
    font-family: var(--fonte-android);
    font-size: 1.3em;
    text-indent: 10px;
    background-image: linear-gradient(to right,darkgreen,transparent);
}

main p{
    margin:15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
}

main strong{
    color:seagreen;
    font-weight: bold;
}

main a{
    color:darkgreen;
    font-weight: bold;
    text-decoration: none;
}

main a:hover{
    text-decoration:underline;
    color: #3FDB90;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: darkgreen;
    margin:0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.8%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color:#3FDB90 ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
}

aside > h3{
    background-color: green;
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside a:hover{
    color: purple;
}

footer{
    background-color: green;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: aqua;
}